
<md-toolbar color="primary">
    <button md-button uiSrefActive="active" uiSref="home">
    	<md-icon>home</md-icon> Home
    </button>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button md-button uiSrefActive="active" uiSref="post"  >
        	<md-icon>info outline</md-icon>Posts
        </button>
        
    </div>
   <button class="toolbar-spacer" md-button uiSrefActive="active" uiSref="login" >
        	Logout
        </button> 
</md-toolbar>
